<h1>Hello World</h1>

<div>
<p>Daftar orang terkaya sedunia</p>
<ul>
    <li>Elon Musk</li>
    <li>yeye</li>
    <li>kang wafa</li>
    <ul>
        <li>aaron</li>
        <li>yeye</li>
    </ul>
</ul>
<div>
<!-- untuk pembagi -->
</div>
<p>Daftar member blekping</p>
<ol>
    <li>lola</li>
    <li>yeye</li><img width="50%" src="tes.jpg" />
    <li>diah</li>
    <li>fijrah</li>
</ol>
<div>


<p>nama saya <span>adalah</span> yeye</p>
<li>tes tes <img src="" />456</li>